@using Activity3.Models
@model Tuple<List<CustomerModel>, CustomerModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer Details";
}

@Html.Label("Please select a Customer:")


@using (Html.BeginForm("OnSelectCustomer", "Customer", FormMethod.Post))
{
    var selected = false;

    foreach (var customer in Model.Item1)
    {
        if (Model.Item2 == customer)
        {
            selected = true;
        }
        else
        {
            selected = false;
        }
        @Html.RadioButton("CustomerNumber", customer.ID, selected);
        @Html.Label(customer.Name);
        <br />
    }
    <input id="submit" type="submit" value="Display Details" />
    <div id="customerInfo">
        @Html.Partial("~/Views/Customer/_CustomerDetails.cshtml", Model.Item2);
    </div>
}






